#fcontrol {
    position: relative;
    z-index: 1000;
    font-size: 14px;
}

#fcontrol .fcontrol-button {
    position: absolute;
    top: 100%;
    left: 30%;
    padding: 3px 10px;
    width: auto;
    height: auto;
    border: solid gray 1px;
    -webkit-border-radius: 0 0 7px 7px;
       -moz-border-radius: 0 0 7px 7px;
            border-radius: 0 0 7px 7px;
    background-color: #e1e1e1;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

#fcontrol .fcontrol-button:hover {
    padding: 4px 10px 3px 10px;
    color: green;
}

#fcontrol .fcontrol-button i::before {
    content: 'Скрыть админку';
}

#fcontrol.hidden .fcontrol-button i::before {
    content: 'Показать админку';
}

#fcontrol .fcontrol-text {
    display: block;
    padding: 3px 0 5px;
    width: 100%;
    border: solid gray 1px;
    background-color: #e1e1e1;;
}

#fcontrol.hidden .fcontrol-text {
    display: none;
}

/*MENU*/
div.superMenu {
    margin: 0;
    padding: 5px 0 0 0;
    vertical-align: middle;
    font-size: 1.2em;
}

div.superMenu .button {
    margin: 0 4px;
    padding: 9px;
}

div.superMenu .select {
    display: inline-block;
}

div.superMenu .split {
    display: inline-block;
    margin: 0 10px;
    width: 1px;
    height: 32px;
    border-left: 1px solid gray;
    vertical-align: top;
}

/* SELECT BUTTONS*/


div.superMenu .select .caption {
    display: block;
    font-size: 11px;
}

div.superMenu .select select {
    display: block;
    margin: 0;
    font-size: 11px;
}

/**************/
