.sdsd {
    display: none;
}

div.noscript {
    margin: 3px 0 0;
    padding: 5px 20px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ff0;
    text-align: justify;
    white-space: normal;
    font-size: .9em;
}

.jshref {
    border-bottom: 1px dashed #ccc;
    color: #101796;
    font-size: 11px;
    cursor: pointer;
}

.jshref:hover {
    border-bottom: 1px dashed transparent;
}

/*form*/
/*AJAX MESS */
div.divform .addparam {
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: #ededed;
}

div.addparam .addparam .form-info {
    text-align: justify;
    text-indent: 1em;
}

div.addparam .form-value {
    width: auto;
}

div.divform .ajaxbg {
    position: absolute;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.divform .ajaxload {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 0;
}

div.divform .div-tr {
    position: relative;
}

/*form*/

.divform {
    display: table;
    margin: 0 auto;
    width: 550px;
    border: none;
    background: transparent;
}

.divform .div-tr {
    clear: both;
    padding: 3px 10px;
    text-align: left;
}

.divform .caption div {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.divform .form-caption {
    display: inline;
    text-align: left;
    font-size: 1.1em;
}

.divform .caption_error {
    display: inline;
    padding: 0 0 0 5px;
    color: red;
    font-size: .8em;
}

.divform .form-caption .form-require {
    color: #f00;
    cursor: pointer;
}

.divform .ckedit-value {
    max-width: 750px;
    width: 550px;
    width: auto;
}

.divform .checkbox-value {
    margin: 0 10px 0 5px;
    padding: 0 0 0;
}

.divform .checkbox-valuelist {
    float: none;
}

.divform .checkbox-value input {
    float: left;
}

.divform .checkbox-value .boxtitle {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    min-height: 1.5em;
}

.divform .form-submit {
    padding: 5px 0;
    text-align: center;
}

.divform .infoinput {
    padding: 3px 0 4px;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-size: .9em;
}

.divform .dscr {
    color: #a1a1a1;
    /*clear:both;*/
    font-size: .8em;
}

/* Счетчик TEXTAREA */
.txtCounter {
    color: #a1a1a1;
    font-size: .8em;
}

.txtCounter .textcount {
    width: 35px;
    border: 0;
    background: transparent none repeat scroll 0 0;
}

/*INPUT*/
.divform input {
    width: 100%;
    height: 1.3em;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.divform input.password {
    margin: 0 0 3px;
}

.divform input[type='checkbox'] {
    margin: 0;
    width: 17px;
    border: medium none;
}

.divform input[type='file'] {
    width: auto;
    height: 1.6em;
    text-align: center;
}

.divform .divinputfile {
    display: inline-block;
}

.divform .divinputfile input {
    display: inline-block;
}

.divform .fileinfo {
    margin-left: 5px;
    color: gray;
    font-size: .8em;
}

/* BUTONS*/
.divform input.sbmt {
    position: relative;
    margin: 4px 10px;
    padding: 8px 10px;
    min-width: 100px;
    width: auto;
    height: auto;
    border: solid 1px #2ab7ec;
    border-bottom: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #3bb3e0;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)));
    -webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    -moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    -o-border-radius: 7px;
    -o-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
}

.divform input.sbmt:hover {
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    -webkit-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    -moz-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;

    -o-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
}

.divform input.sbmt:active {
    top: 1px;
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    -webkit-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
    -moz-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
    box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;

    -o-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
}

.divform input.sbmt[disabled=disabled] {
    border-color: gray;
    background-color: #e1e1e1;
    background-image: linear-gradient(bottom, gray 0%, #e1e1e1 100%);
    background-image: -o-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
    background-image: -moz-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
    background-image: -webkit-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
    background-image: -ms-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, gray), color-stop(1, #e1e1e1));
    -webkit-box-shadow: inset 0 1px 0 #e1e1e1, 0 2px 0 0 #444, 0 6px 5px gray;
    -moz-box-shadow: inset 0 1px 0 #e1e1e1, 0 2px 0 0 #444, 0 6px 5px gray;
    box-shadow: inset 0 1px 0 #e1e1e1, 0 2px 0 0 #444, 0 6px 5px gray;

    -o-box-shadow: inset 0 1px 0 #e1e1e1, 0 2px 0 0 #444, 0 6px 5px gray;
}

.divform input.sbmt[disabled=disabled]:hover {
    color: white;
}

.divform input.sbmt[disabled=disabled]:active {
    top: 0;
}

/* BUTONS*/

.divform .shownextfoto {
    padding: 0 0 0 15px;
    width: 1px;
    height: 15px;
    background: transparent url(../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -32px -129px;
    color: green;
    white-space: nowrap;
    cursor: pointer;
}

.divform .passnewdesc {
    display: inline;
    border-bottom: 1px dashed #ccc;
    color: #101796;
    font-size: 11px;
    cursor: pointer;
}

.divform .passnewdesc:hover {
    border-bottom: 1px dashed transparent;
}

/*Date*/
.divform .dateselect {
    float: left;
    margin: 0 20px 0 0;
}

.divform .dateselect span {
    display: block;
}

.divform .dateselect select {
    width: auto;
}

.divform select {
    width: 100%;
    border: 1px solid #a6a6a6;
}

.divform select.small {
    height: 8em;
    border: 1px solid #a6a6a6;
}

.divform select.multiple {
    height: 13em;
    border: 1px solid #a6a6a6;
}

.divform select .selpad1:before {
    content: '- ';
}

.divform select .selpad2:before {
    content: '- - ';
}

.divform select .selpad3:before {
    content: '- - - ';
}

.divform select.hideselectforie7 {
    position: relative;
    top: -10000px;
}

.divform select .support {
    color: #40c900;
}

.divform select .nosupport {
    color: #ffb3b3;
}

.divform .dscr .support {
    color: #40c900;
}

.divform .dscr .nosupport {
    color: #ffb3b3;
}

.divform div.no {
    padding: 0;
    color: #000;
    font-size: 11px;
}

.divform div.inline {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.divform div.left1 {
    float: left;
    padding-top: 4px;
}

.divform div.clear {
    clear: both;
}

.divform textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.divform input.radio {
    width: 20px;
    border: 0;
}

.divform input.secret {
    margin: 3px 0 0;
    width: 3.7em;
    height: 35px;
    font-size: 2em;
}

.divform div.secret {
    white-space: nowrap;
}

#tr_captcha {
    text-align: center;
}

.divform div.secretimg {
    padding: 3px 0 0 5px;
}

.divform .i-reload {
    cursor: pointer;
}

.divform input.ronly {
    background: none repeat scroll 0 0 #e6e6e6;
    color: #666;
}

.divform .attach {
    margin: 5px 5px 5px 0;
    max-width: 160px;
    border: 1px solid #a6a6a6;
}

.divform .wep_thumb {
    /*Эскиз рисунка в форме*/
    float: right;
    margin: 0 10px 0 0;
}

.divform .wep_thumb_comment {
    color: gray;
    /*Коммент эскиза рисунка в форме*/
    font-size: .7em;
}

.divform .filedelete {
    float: right;
    color: red;
    white-space: nowrap;
}

.divform .filedelete input {
    width: 20px;
    vertical-align: middle;
}

/*Select list c индекс Input*/

.divform .ilist {
    margin: 3px 0 0;
}

.divform .ilist input {
    margin: 0 5% 0 0;
    width: 40%;
}

.divform .ilist select {
    max-width: 45%;
    width: auto;
}

.ui-sortable-helper {
    left: 0;
    border: 1px dashed #532;
    background-color: rgb(144, 238, 144);
}

.divform .ilistmultiple {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0 0 0 15px;
    width: 1px;
    height: 15px;
    background: transparent url(../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -32px -129px;
    color: green;
    white-space: nowrap;
    cursor: pointer;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.divform .ilistdel {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0 0 0 15px;
    width: 1px;
    height: 15px;
    background: transparent url(../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -32px -193px;
    color: red;
    white-space: nowrap;
    cursor: pointer;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.divform .ilistsort {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0 0 0 15px;
    width: 1px;
    height: 15px;
    background: transparent url(../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -129px -49px;
    color: red;
    white-space: nowrap;
    cursor: move;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.divform .dateinput {
    padding: 0 0 0 15px;
    background: transparent url(../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -32px -111px;
}

.divform .dateinput input {
    cursor: pointer;
}

/* radiolist */

.divform .radiolist label {
    display: block;
    padding: 2px 0;
    border: 1px solid transparent;
    vertical-align: top;
}

.divform .radiolist label:hover {
    border-color: #e1e1e1;
}

.divform .radiolist label input {
    margin: 0 4px;
}

/*MESSAGE*/
.messages {
    display: block;
    margin: 15px 0 0;
    padding: 5px 20px 10px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
    text-align: center;
    white-space: normal;
    font-size: 1em;
}

.messages .error,
error {
    margin: 0 0 3px 0;
    color: #d93f36;
    font-weight: normal;
    font-weight: bold;
    font-size: 1.2em;
}

.messages .ok,
ok {
    margin: 0 0 3px 0;
    color: green;
}

.messages .alert,
alert {
    margin: 0 0 3px 0;
    color: blue;
}

/*FORM*/

.ajaxlist {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
}

.ajaxlist input {
    background: none repeat scroll 0 0 transparent;
}

.ajaxlist span {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 0;
    color: #aaa;
    white-space: nowrap;
}

.ajaxlist div {
    position: absolute;
    top: 1.3em;
    left: 0;
    z-index: 10;
    overflow: auto;
    padding: 5px 0;
    max-height: 300px;
    width: 100%;
    border: 1px solid gray;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background: none repeat scroll 0 0 #a1b1c1;
    color: #000;
}

.ajaxlist div label {
    display: block;
    padding: 1px 10px;
    background: none repeat scroll 0 0 #a1b1c1;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ajaxlist div label.selected {
    background: none repeat scroll 0 0 #111;
    color: #fff;
}

/*Значок в форме ввода*/
.ajaxlist input {
    color: green;
}

.ajaxlist.reject input {
    color: red;
}

.ajaxlist.load input {
    text-decoration: blink;
}

/*Свернутый блок формы*/

form .minform .form-caption {
    display: inline;
    padding: 0 0 0 11px;
    border-bottom: 1px dashed #101796;
    background: transparent url(../_img/x16.png) no-repeat scroll 0 -17px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

form .minform:hover .form-caption {
    background: transparent url(../_img/x16.png) no-repeat scroll 0 -49px;
}

form .minform .form-value {
    display: none;
}

form .minform:hover .form-value {
    display: block;
}

/*ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ ДЛЯ ФОРМЫ*/
.showparam {
    display: inline;
    padding: 0 0 0 11px;
    border-bottom: 1px dashed #101796;
    background: transparent url(../_img/x16.png) no-repeat scroll 0 -17px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}

.hideparam {
    background: transparent url(../_img/x16.png) no-repeat scroll 0 -49px;
}

.showparam:hover {
    border-bottom: 1px dashed transparent;
}

.formparam {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 60%;
    background-color: rgb(237, 237, 237);
}

span.labelInput {
    position: absolute;
    z-index: 0;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    color: #bbb;
    white-space: nowrap;
    font-size: 1.3em;
}

/* YA MAP*/
#positionOnMap {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
}

#positionOnMap div.layerblock {
    overflow: auto;
    padding: 5px;
    max-height: 90%;
    border: 2px solid gray;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
}

.mapselect {
    display: block;
    padding: 1px 0 1px 48px;
    background: transparent url('../_img/onmap.png') no-repeat scroll 10px -2px;
    color: #08c;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
}

.mapselect input {
    border: none;
    background: transparent;
    color: #fff;
}

.mapClear {
    display: none;
    cursor: pointer;
}

.mapClear.setvalue {
    display: inline-block;
    margin: 0 0 0 15px;
    color: red;
}

/*Всплывающая информация showHelp(obj,mess,time,nomiga)*/
.helpmess {
    position: absolute;
    z-index: 10;
    padding: 2px 3px;
    min-width: 50px;
    border: 2px solid #555;
    border-width: 2px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.trgl {
    position: absolute;
    right: auto;
    margin: 0;
    width: 0;
    height: 0;
    border: 1px solid #555;
    background: none repeat scroll 0 0 transparent;
}

.trgl_d {
    bottom: -10px;
    left: 3px;
    border-top-width: 9px;
    border-right: 11px dotted transparent;
    border-bottom-width: 0;
    border-left: 0 none;
}

.trgl_u {
    top: -10px;
    left: 3px;
    border-top-width: 0;
    border-right: 11px dotted transparent;
    border-bottom-width: 9px;
    border-left: 0 none;
}

/* swf uploader */

.divinputfile .fuploader {
    position: relative;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 5px;
    padding: 0 15px 0;
    width: auto;
    height: 1.8em;
    border: solid 1px #2ab7ec;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #3bb3e0;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)));
    -webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 6px 5px #999;
    -moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 6px 5px #999;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 6px 5px #999;
    color: white;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8em;
    cursor: pointer;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
    -o-border-radius: 7px;
    -o-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 6px 5px #999;
}

.divinputfile .fuploader:hover {
    color: yellow;
}

.divinputfile .fuploader:active {
    top: 1px;
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    -webkit-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 3px 3px #999;
    -moz-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 3px 3px #999;
    box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 3px 3px #999;

    -o-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 3px 3px #999;
}

.divinputfile .fuploader .swfupload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress_wrap {
    display: -moz-inline-stack;
    display: inline-block;
    display: none;
    padding: 0;
    width: 100px;
    height: 10px;
    border: 1px solid black;
    background-color: #fff;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.progress_wrap .progress {
    margin: 0;
    padding: 0;
    width: 0;
    height: 10px;
    border: none;
    background-color: green;
}

/* swf uploader */
