html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wepmain {
    position: relative;
    margin: 0 auto;
    width: 800px;
    background-color: #efefff;
}

div.title {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.step {
    padding: 5px 0;
    font-size: 1em;
}

.step .stepitem {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0;
    width: 19.5%;
    height: 42px;
    border: 1px solid black;
    background-color: #e1e1e1;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.step .stepitem:hover {
    background-color: gray;
}

.step .selstep {
    background-color: #99c6f1;
}

.step .stepcomment {
    text-align: center;
    font-size: .85em;
}

div.showparam {
    display: inline;
    padding: 0;
    border-bottom: 1px dashed #101796;
    background: none;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
}

div.showparam span.shbg {
    display: -moz-inline-stack;
    display: inline-block;
    width: 19px;
    height: 12px;
    background: transparent url(/_design/_img/buttonh.png) no-repeat scroll 0 -98px;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

div.showparam .sh1 {
    display: inline;
}

div.showparam .sh2 {
    display: none;
}

div.shhide span.shbg {
    display: -moz-inline-stack;
    display: inline-block;
    width: 19px;
    height: 12px;
    background: transparent url(/_design/_img/buttonh.png) no-repeat scroll 0 -114px;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

div.shhide .sh1 {
    display: none;
}

div.shhide .sh2 {
    display: inline;
}

div.showparam:hover {
    border-bottom: 1px dashed transparent;
}

div.showparam:hover span.shbg {
    background-image: url('/_design/_img/button.png');
}

.fblock {
    margin: 0 auto;
    width: 70%;
    background-color: #99c6f1;
}

.text {
    margin: 10px 0 15px 0;
    height: auto;
}

.cmsinfo {
    width: 100%;
    height: 35px;
    border-top: 2px solid black;
    background-color: #63a6cc;
}

.cmsinfo a {
    color: #fff;
}

.cmsinfo .infname {
    float: left;
    padding: 2px 0 0 10px;
    width: 200px;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.cmsinfo .infc {
    float: right;
    width: 160px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
}

.cmsinfo .infc .ctd1 {
    float: left;
    clear: left;
    padding: 0 5px 0 0;
    width: 55px;
    text-align: right;
}

.cmsinfo .infc .ctd2 {
    float: right;
    clear: right;
    width: 100px;
    text-align: left;
}

.cmsinfo #inftime {
    position: absolute;
    bottom: 0;
    left: 210px;
    font-size: 11px;
}

.cmsinfo #inftime div {
    float: left;
    padding: 0 5px 5px;
}
