.cform {
    float: none;
    margin: 10px auto 20px;
    padding: 10px;
    width: 200px;
}

.cform img {
    width: 200px;
    border: 0 none;
}

.cform form div {
    text-align: left;
    font-size: 13px;
}

.cform input {
    margin: 0 0 2px 0;
    width: 200px;
    border: 2px #63a6cc solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.cform .submit {
    position: relative;
    margin: 5px 0;
    padding: 8px 10px;
    border: solid 1px #2ab7ec !important;
    border-bottom: 0 !important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #3bb3e0;
    background-image: linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(44, 160, 202)), color-stop(1, rgb(62, 184, 229)));
    -webkit-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    -moz-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    -o-border-radius: 7px;
    -o-box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
}

.cform .submit:hover {
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    -webkit-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    -moz-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
    box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;

    -o-box-shadow: inset 0 0 0 #2ab7ec, 0 2px 0 0 #156785, 0 4px 4px #999;
}

.cform .submit:active {
    top: 1px;
    background-image: linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 184, 229) 0%, rgb(44, 160, 202) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(62, 184, 229)), color-stop(1, rgb(44, 160, 202)));
    -webkit-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
    -moz-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
    box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;

    -o-box-shadow: inset 0 0 0 #2ab7ec, 0 1px 0 0 #156785, 0 2px 2px #999;
}

/*MESSAGE*/

.messhead {
    color: #228b22;
    font-weight: bold;
    font-size: 1em;
}

.messelem {
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.messelem a {
    font-size: 14px;
}

.messages,
messages {
    display: block;
    margin: 3px 0 0;
    padding: 5px 20px;
    border: 1px solid #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #f6f6f6;
    text-align: center;
    white-space: normal;
    font-size: 1em;
}

.messages .error,
messages error,
.error,
.err {
    margin: 0 0 3px 0;
    color: #d93f36;
    font-weight: normal;
    font-weight: bold;
    font-size: 1.2em;
}

.messages .ok,
messages ok,
.ok {
    margin: 0 0 3px 0;
    color: green;
}

.messages .alert,
messages alert,
.alert {
    margin: 0 0 3px 0;
    color: blue;
}

.spanor {
    display: block;
    clear: both;
    margin: 0;
    padding: 2px 160px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

/*loginza*/

.loginzaForm {
    text-align: center;
}

.loginzaForm a {
    white-space: nowrap;
}

.loginzaForm .loginzaIframe {
    display: -moz-inline-stack;
    display: inline-block;
    min-height: 220px;
    width: 330px;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.loginzaForm .loginzaIframe .loginzaInfo {
    width: 330px;
}

.loginzaForm div.loginForm {
    display: -moz-inline-stack;
    display: inline-block;
    float: none;
    margin: 0 0;
    padding: 10px;
    width: 229px;
    vertical-align: top;
    text-align: left;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.loginzaForm div.divform {
    display: -moz-inline-stack;
    display: inline-block;
    width: 300px;
    vertical-align: top;

    _overflow: hidden;
    *zoom: 1;
    *display: inline;
}

.loginzaForm div.cform input {
    text-align: center;
    font-size: 17px;
}

.loginzaForm .messhead {
    color: #228b22;
    font-weight: bold;
    font-size: 19px;
}

.loginzaForm .messelem {
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.loginzaForm .messelem a {
    font-size: 14px;
}

/*Reg FORM*/
#form_users {
    margin: 0 auto;
    width: 290px;
}

#form_users input {
    font-size: 17px;
}

#form_users input.secret {
    font-size: 2em;
}
