
.cform {
	width:200px;
	margin:10px auto 20px;}
.cform img {width:200px;border:0 none;}
.cform form div {
	font-size:11px;text-align:left;
}
.cform input {
		width:200px;
		margin:0 0 2px 0;
		text-align:center;
		border:2px #63A6CC solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}
.cform .submit {
	margin:7px 0 0 0px;
	width:204px;
}
.messhead {
	font-size:19px;
	color:#228B22;
	font-weight:bold;
}
.messelem {font-weight:bold;font-size:15px;text-align:center;color:gray;}
.messelem a {
	font-size:14px;
}


