a {
	cursor: pointer;
}

.ajaxlink {
	border-bottom:1px dashed #101796;
	text-decoration:none;
	cursor: pointer;
}
.ajaxlink:hover {
	border-bottom:1px dashed transparent;
	text-decoration:none;
}
.ajaxload {
	z-index:30;
	position:fixed;
	top:50%;
	left:50%;
	display:none;

}
.ajaxload.loadAnimation {
	background: url('/_design/_img/load.gif') no-repeat 0 0 transparent; 
	height: 20px;
	width: 20px;
}
.ajaxload.loadAnimation::after {
	content: 'Загружаю...';
	position: relative;
	top: 11px;
	left: -30px;
	color: #fff;
}

/****************************/

.PopUp {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	display: none;
}
.PopUp.popupActive {
	display: block;
}

.PopUp .PopUpBackgound {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 21;
	width: 100%;
	height: 100%;
	background-color: #666;
	opacity: 0.8;
	cursor: not-allowed;
}
* html .PopUp .PopUpBackgound {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* Блок отображающийся пока идет анимация */
.PopUp .PopUpLoading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 22;
	white-space:nowrap;
	color:#555;
	font-weight:bold;
	text-align:center;
	padding:10px;
	background-color:white;
	border:2px solid gray;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;
	visibility: hidden;

}
.PopUp.ajaxProccess .PopUpLoading {
	visibility: visible;
}

.PopUp .PopUpContent {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 23;
	white-space:nowrap;
	color:#555;
	font-weight:bold;
	text-align:center;
	padding:5px 17px 10px;
	background-color:white;
	overflow:auto;
	max-height:90%;
	border:2px solid gray;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;
	
}
.PopUp.ajaxProccess .PopUpContent {
	visibility: hidden;
}

.PopUp .PopUpContent .layerblock{
	padding:10px;
	white-space: normal;
}
/*CLOSE LAYER*/
.PopUp .PopUpContent .blockclose {
	cursor:pointer;
	position:fixed;
	z-index: 30;
	height:30px;
	width:30px;
	background: url("../_img/close30.png") repeat scroll 0 0 transparent;
}
/****************************/



	.blockhead{
		padding:3px 0;
		font-size:0.85em;
		font-weight:bold;
		text-align:center;	
	}

	.cnone {
		display:none;
		font-size:1px;
		height:1px;}


	.uiicons {
		width: 16px; 
		height: 16px; 
		background-image: url(../_img/ui-icons_256x240.png);
	}
	.commentinfo {
		background-position: -16px -144px;
	}

/*form*/
	.ajaxload .block-tl, .ajaxload .block-tr, .ajaxload .block-bl, .ajaxload .block-br {
		background-image:none;
	}

	.ajaxload .layerloader img {}

		.ajaxload .messages{
			border:none;
			background:none;
			padding:10px;
		}



/*SPOILER*/
	.spoiler-wrap {
		background:gray none repeat scroll 0% 0%;
		border-color:#C3CBD1;
		border-style:solid;
		border-width:1px 1px 1px 2px;
		margin:6px auto;
		width:99%;
		overflow:auto;
	}
	.spoiler-wrap .spoiler-head {
		color:black;
		font-size:11px;
		line-height:15px;
		margin-left:6px;
		padding:0 0.9em;
	}
	.spoiler-wrap .spoiler-body {
		border-bottom:1px dashed #C3CBD1;
		display:none;
		padding:0;
		display: none;
	}
	.spoiler-wrap .spoiler-body pre{
		background:#F8F7F2 none repeat scroll 0 0;
		border:medium none;
		font-size:0.9em;
		color:black;
		margin:0;
	}
	.spoiler-wrap .spoiler-body pre code{
		display:block;
		overflow:auto;
		white-space:pre;
		padding:5px 0;
	}
	.spoiler-wrap .folded {
		background:transparent url(../_img/x16.png)  no-repeat scroll 0 -16px;
		display:block;
		padding-left:1.4em;
		border-bottom:1px dashed #C3CBD1;
	}
	.spoiler-wrap .unfolded {
		background:transparent url(../_img/x16.png)  no-repeat scroll 0 -48px;
		display:block;
		padding-left:1.4em;
		border-bottom:1px dashed transparent;
	}
	.spoiler-wrap .clickable {
		cursor:pointer;
}

/*Всплывающая информация showHelp(obj,mess,time,nomiga)*/
.helpmess {
	position:absolute;
	border:2px solid #555;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	border-width:2px !important;
	background-color:#222;
	z-index:10;
	padding:2px 3px;
	font-size:15px;
	color:#FFF;
}
.trgl {
	border:1px solid #555;
	margin:0;
	background:none repeat scroll 0 0 transparent;
	position:absolute;
	height:0;
	width:0;
	right:auto;
}
.trgl_d {
	bottom:-14px;
	left:5px;
	border-left:0 none;
	border-right:15px dotted transparent;
	border-top-width:12px;
	border-bottom-width:0;
}
.trgl_u {
	top:-14px;
	left:5px;
	border-left:0 none;
	border-right:15px dotted transparent;
	border-top-width:0;
	border-bottom-width:12px;
}

/*LOGIN FORM*/
.spanor {
	border-top: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	display: block;
	margin: 0;
	padding: 2px 160px;
	clear: both;
 }
div.layerblock {

}
div.layerblock div.cform {
    padding:10px;
	float: right;
    width: 200px;
}

div.layerblock div.cform form div {
	font-size:11px;text-align:left;
}
div.layerblock div.cform input {
		width:130px;
		margin:0 0 2px 0;
		text-align:center;
		border:2px #63A6CC solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}
div.layerblock div.cform .submit {
	margin:7px auto 0 auto;
	width:100px;
	text-align:center;
}
div.layerblock .messhead {
	font-size:19px;
	color:#228B22;
	font-weight:bold;
}
div.layerblock .messelem {font-weight:bold;font-size:15px;text-align:center;color:gray;}
div.layerblock .messelem a {
	font-size:14px;
}