body , html {
	font-family:Calibri,Arial;
	font-size:100%;
	margin:0;
	min-height:100%;
	min-width:400px;
	padding:0;
	width:100%;
}
img {border:none;}
a {color:black;}
p {padding:0;margin:0;}
.clear{clear:both;padding:0;margin:20px 0 0;width:0;height:0;font-size:0;}

a:hover {
	text-decoration:none;
	color:#709ad1;
}
.triangle_dowm {
	width:0px;
	height:0px;
	border-left:5px solid transparent;  /* left arrow slant */
	border-right:5px solid transparent; /* right arrow slant */
	border-top:5px solid #000000;
	}
.triangle_up {
	width:0px;
	height:0px;
	border-left:5px solid transparent;  /* left arrow slant */
	border-right:5px solid transparent; /* right arrow slant */
	border-bottom:5px solid #000000;
	}	
.triangle_right {width:0px; height:0px; border-top:5px solid transparent;  border-bottom:5px solid transparent; border-left:5px solid #000000; }
.triangle_left {  width:0px; height:0px;border-top:5px solid transparent;  border-bottom:5px solid transparent; border-right:5px solid #000000; }

/*blocks*/
.leftblock{
    background-color: #E4E4E4;
    border-right: 5px solid #A8CF46;
    color: #494E53;
    overflow: hidden;
    float: left;
    height: 100%;
    padding: 0 0 0 7px;
    position: absolute;
    width: 195px;
	}
	.leftblock .logo {
		display:block;
		width:171px;
		height:52px;
		border:0px;
		background-image:url(../img/logo.png);
		background-repeat:no-repeat;
		margin:10px 0 30px 10px;
		}

.maintext{

	margin:0px 0 0px 207px;

}

.footer{
    background-color: #6E6D6D;
    bottom: 0;
    color: #FFFFFF;
    font-size: 11px;
    height: 15px;
    padding: 7px 0;
    position: fixed;
    width: 100%;
}




/*leftblock*/
	.leftblock .name_block {
		font-size:14px;
		font-weight:bold;
		margin-top:15px;
		margin-bottom:5px;
		} 
		.leftblock .name_block span {
			position:relative;
			top:8px;
			margin-right:7px;
			}
	.leftblock .block {
		padding-left:17px;
		}
		.leftblock .block .modullist {
			margin-bottom:5px;
			}
	.leftblock a {
		color:#494E53;
		text-decoration:none;
		font-size:12px;
		}
		.leftblock a:hover {
			color:#666666;
			text-decoration:underline;
			}
/*toolbar*/
	.toolbar {
		background-color:#6E6D6D;
		height:26px;
		border-bottom:3px solid #A8CF46;
		}
		.toolbar .uname {
			color: #FFFFFF;
			font-size: 11px;
			position: absolute;
			right: 70px;
			top: 5px;
			}
		.toolbar .exit {
			display: block;
			float: right;
			margin-top: 2px;
			}

/*path*/
	.path {
		background-image: url("../img/path.gif");
		background-position: 0 -4px;
		background-repeat: repeat-x;
		color: #FFFFFF;
		font-size: 12px;
		height: 17px;
		padding: 3px 10px;
		}
	.path a {
		text-decoration:underline;
		color:#FFFFFF;
		font-size:14px;
	}

/*maintext*/

	.maintext .block {
		height:100%;
	}

	.block {
		padding:0;
		position:relative;
	}
	.maintext .content {
		height:100%;
		overflow:inherit;
	}
	
/*footer*/
	.footer .ctd1, .footer .ctd2 {
		float:left;
		margin-left:5px;
		}
	.footer .ctd2 {
		margin-right:10px;
		}
	.footer a {
		color:#FFFFFF;
		font-size:12px;
		}

#debug_view {position:absolute;right:5px;top:36px;z-index:6;border:1px solid yellow;width:320px;background:#D7E8FF;padding:0;font-size:10px;overflow:auto;white-space:pre;}
#debug_view h1 {font-size:12px;text-align:center;font-weight:bold;margin:0;max-height:300px;min-height:40px;overflow:auto;}
.debug_view_img {
  	cursor: pointer;
    position: absolute;
    right: 214px;
    top: -3px;
    z-index: 1;
	}
.debug_view_img select { font-size:11px; width:65px; margin-right:3px;}
.debug_view_img img { position:relative; top:5px;}
.info_time {
    border: 1px solid gray;
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px;
    position: relative;
    top: -17px;
	}
	
/*extjs*/
.x-panel-header {
    border-color: #999999;
}
.x-panel-body {
    border-color:#CCCCCC;
}