[submodule "_vendors/jqplot"]
	path = _vendors/jqplot
	url = https://github.com/Xakki/jqplot.git
[submodule "_vendors/ckeditor"]
	path = _vendors/ckeditor
	url = https://github.com/Xakki/wep-ckeditor.git
[submodule "_vendors/ckfinder"]
	path = _vendors/ckfinder
	url = https://github.com/Xakki/wep-ckfinder.git
[submodule "_vendors/PHP-Yandex.Money-API-SDK"]
	path = _vendors/PHP-Yandex.Money-API-SDK
	url = https://github.com/melnikovdv/PHP-Yandex.Money-API-SDK.git
[submodule "_vendors/QIWI-PHP-XML"]
	path = _vendors/QIWI-PHP-XML
	url = https://github.com/the-dan/QIWI-PHP-XML.git
[submodule "_vendors/PHPMailer"]
	path = _vendors/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "_vendors/syntaxhighlighter"]
	path = _vendors/syntaxhighlighter
	url = https://github.com/alexgorbatchev/syntaxhighlighter.git
[submodule "_vendors/fancyBox"]
	path = _vendors/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "_vendors/jQuery-File-Upload"]
	path = _vendors/jQuery-File-Upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "_vendors/twitteroauth"]
	path = _vendors/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "_vendors/bootstrap-multiselect"]
	path = _vendors/bootstrap-multiselect
	url = https://github.com/Xakki/bootstrap-multiselect.git
