[submodule "_vendors/PHP-Yandex.Money-API-SDK"]
	path = _vendors/PHP-Yandex.Money-API-SDK
	url = https://github.com/melnikovdv/PHP-Yandex.Money-API-SDK.git
[submodule "_vendors/QIWI-PHP-XML"]
	path = _vendors/QIWI-PHP-XML
	url = https://github.com/the-dan/QIWI-PHP-XML.git
[submodule "_vendors/PHPMailer"]
	path = _vendors/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "_vendors/SyntaxHighlighter"]
	path = _vendors/SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
[submodule "_vendors/fancyBox"]
	path = _vendors/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "_vendors/jQuery-File-Upload"]
	path = _vendors/jQuery-File-Upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "_vendors/jqplot"]
	path = _vendors/jqplot
	url = https://github.com/Xakki/jqplot.git
[submodule "_vendors/ckeditor4"]
	path = _vendors/ckeditor4
	url = https://github.com/Xakki/ckeditor-releases.git
[submodule "_vendors/ckeditor-dev"]
	path = _vendors/ckeditor-dev
	url = git@github.com:Xakki/ckeditor-dev.git
