#ErrorDocument 400 /400.html
#ErrorDocument 401 /401.html
#ErrorDocument 403 /403.html
#ErrorDocument 404 /404.html
#ErrorDocument 500 /500.html

RewriteEngine On
Options +FollowSymLinks
Options -Indexes

# Админка
RewriteRule ^_wepadmin/(.*)? index.php?_php=admin&pageParam=$1&%{QUERY_STRING} [L,NC,NS]

# Если есть фаил , то даем ему возможность 
RewriteRule ^robots\.txt index.php?_php=robotstxt [L]

# Все php перенаправляем
RewriteRule ^(.*)\.php index.php?_php=$1&%{QUERY_STRING} [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^([0-9A-Za-z\-\.\_]+)\.xml index.php?_type=xml&_php=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule (.*)_p([0-9]+)\.html $1.html?_pn=$2&%{QUERY_STRING} [NC,NS]

#### OTHER

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^([0-9A-Za-zА-Яа-яЁё\-\.\/\_\%\ ]+)_([0-9]+)\.html(.*) index.php?pageParam=$1&id=$2&%{QUERY_STRING} [L,NC,NS]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^([0-9A-Za-zА-Яа-яЁё\-\.\/\_\%\ ]+)\.html(.*) index.php?pageParam=$1&%{QUERY_STRING} [L,NC,NS]

#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteRule ^([0-9A-Za-zА-Яа-яЁё\-\.\/\_\%\ ]+) index.php?pageParam=$1&%{QUERY_STRING} [L,NC,NS]