
body {
	font-family:Calibri,Arial;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	background:#EBE9ED none repeat scroll 0 0;}
html, body {margin:0;height:100%;}
img, form , table {margin:0;border:0;padding:0;}
a{color:black;}
a:hover{text-decoration:none;}
.clk {clear:both;}
.cnone {
	display:none;
	font-size:1px;
	height:1px;}


#wepmain {
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:800px;}



#adminmenu {
	background:#63A6CC;
	border-top:4px solid black;
	border-bottom:4px solid black;
	padding:2px 0 2px 2px;
	text-align: left;
	position:relative;
	z-index:4;
	font-size:1em;
}

a.am_home {
	background:transparent url(../img/home.png) no-repeat 0 0;
	color:transparent;font-size:0.01em;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	width:32px;height:32px;
	vertical-align: top;
	padding:0 4px 0 4px;
}
a.am_exit {
	background:transparent url(../img/close32.gif) no-repeat 0 0;
	color:transparent;font-size:0.01em;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	width:32px;height:32px;
	vertical-align: top;
	padding:0 4px 0 4px;
}
a.am_user {
	vertical-align: top;
	padding:0 4px 0 4px;
}
a.am_tools {
	background:transparent url(../img/tools.png) no-repeat 0 0;
	color:transparent;font-size:0.01em;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	width:32px;height:32px;
	vertical-align: top;
	padding:0 4px 0 4px;
}
/* ----------------------------------------------------------------------------	*/
/* default styling */
.nav,
.nav ul{list-style-type:none; margin:0; padding:0;}
.nav a {text-decoration:none;}
.nav {
	font-family: arial, sans-serif; font-size:1em; margin:2px auto;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
}

/* style the links */
/* needs a background for IE6 - can be a color or a transparent gif */
.nav a {filter: alpha(opacity=90); opacity:0.9;} 

/* style the <b> element so that is does not affect the size of the link */
.nav a b {background:#999; border:1px solid #000; border-color:#ddd #333 #333 #ddd; color:#fff; font-weight:normal; display:block; padding:5px 10px;}
.nav a.msel b {color:red;}
.nav a:hover b {background-color:#aaa; color:#800; cursor:pointer;}
.nav .fly .main b {background:#999;}
.nav .down b {background:#999;}
.nav .right ul b {text-align:right;}
.nav .right ul .main b {background:#999; text-align:right;}

/* HEIGHT */
.nav ul ul {top:-24px;} /* position the top of the flyout sub menus */

/* WIDTH change this WITH CARE to suit your requirements */

/*set the link width here*/
.nav .drop,
.nav a {width:130px;}
.nav ul li {max-width:130px;} /* fix for IE8 */

/* set the left flyout position here */
.nav ul ul {left:120px;}
/* set the right flyout position here */
.nav li.right ul ul {left:auto; right:120px;}

/* make this WIDTH - 1px */ /* or WIDTH - 0.063em if using em sizing */
.nav a {margin-right:-129px;}

/* ----------------------------------------------------------------------------	*/

/* DO NOT CHANGE ANYTHING BELOW */
.nav li {float:left;} /* fixes IE related bugs, and allows for clearing */
.nav ul {float:left; position:relative; z-index:20;} /* necessary for float drop and to stack the <ul>s */
.nav ul li {clear:left;} /* must clear the floated list item inside sublist */
.nav a {position:relative; display:block;} /* needs to have a position above the rest */
.nav a.main {float:left; /* necessary for float drop */
    margin-top:10000px;} /* bring the top level links back into view */
.nav .drop,
.nav .fly {margin-top:-10000px;} /* hide the sub links and their containers, opera has low upper limits */
.nav ul {margin-bottom:-5000px;} /* avoid any interaction between the subs, can be any large size */

/* The bit that does ALL the work to bring the sub menus into view */
.nav a:hover,
.nav a:focus,
.nav a:active {margin-right:0; z-index:10; outline:0}

.nav a:focus b,
.nav a:active b {background:#aaa; color:#800;} /* for tabbing */

/* OPERA fix */
.nav ul:hover,
.nav ul ul:hover {clear:left;} /* to stop intermittent sub link :hover problems */


/************************/

.modullist a:hover, .selected a {color:#90EE90;}

#modulsforms {
	padding:5px 10px;
}
	.spacer {height:37px;}

#cmsinfo {
	border-top:2px solid black;
	margin-top:-37px;
	height:35px;
	width:100%;
	background:#63A6CC;
	position:relative;
	bottom:0;
}
	#cmsinfo a {color:#FFF;}
	#cmsinfo .infname {
		font-weight:bold;font-size:1.4em;color:#333;
		padding:2px 0pt 0pt 10px;
		width:200px;
		position:absolute;
		left:0;top:0;
	}
	#cmsinfo #inftime {
		font-size:1em;
		vertical-align:top;
		margin:0 160px 0 210px;
	}
		#cmsinfo #inftime div {
			padding:0 5px 5px;
		}
	#cmsinfo .infc {
		font-weight:none;font-size:0.9em;color:#FFF;text-align:left;
		width:160px;
		position:absolute;
		right:0;top:0;
	}
		#cmsinfo .infc .ctd1 {
			width:55px;float:left;text-align:right;padding:0 5px 0 0;
		}
		#cmsinfo .infc .ctd2 {
			text-align:left;
		}

	/*IMG*/
		.bottonimg, .bottonimg_sel{
			background-image:url(../img/buttonh.png);
			background-position:0 0;
			background-repeat:no-repeat;
			width:16px;
			height:16px;
			color:transparent;
			cursor:pointer;
			font-size:0.01em;
			display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		}
		.bottonimg:hover, .bottonimg_sel {
			background-image:url(../img/button.png);
		}
		.imglist{background-position:0 -192px;}
		.imgadd{background-position:0 0;}
		.imgdel{background-position:0 -16px;}
		.imgedit{background-position:0 -32px;}
		.imgplus{background-position:0 -96px;}
		.imgminus{background-position:0 -112px;}
		.imgup{background-position:0 -64px;}
		.imgdown{background-position:0 -80px;}
		.imgf5{background-position:0 -48px;}
		.imgf6{background-position:-1px -411px;}
		.imgf7{background-position:-1px -391px;}
		.imgconf {background-position:0 -224px;}
		.imgdragdrop {background-position:0 -430px;cursor:move;}

		.img0{background-position:0 -144px;}
		.img1{background-position:0 -128px;}
		.img2{background-position:0 -176px;}
		.img3{background-position:0 -160px;}
		.img4{background-position:0 -176px;}
		.img5{background-position:0 -160px;}
		.img6{background-position:0 -144px;}
		.img-1{background-position:0 -176px;}

		.uiicons {
			width: 16px; 
			height: 16px; 
			background-image: url(/_design/_img/ui-icons_256x240.png);
			cursor:pointer;
			font-size:0;
			display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		}
		.uiicons.img10 {
			background-position:-63px -145px;
		}

		.service {
			color:#D33;
			cursor:pointer;
			font-size:1em;
			padding:2px 0pt 1px 18px;
			white-space:nowrap;
			display:block;
		}
		.ti_replace {
			float:right;
			position: relative;
			cursor: move;
			margin:0;
			background-position:0 -208px;
		}
		.ti {
			float:left;
			padding:0;
		}
		.ti_r {
			float:right;
			margin:0;
		}
	/*img*/

	.noelem {color:red;cursor:default;}

.sortHelper {
	background-color:rgb(144, 238, 144);
	border: 1px dashed #532;
}
.ui-sortable-placehelper {
}
.ui-sortable-helper {
	left:0;
	border:1px dashed #532;
	background-color:rgb(144, 238, 144);
}

#debug_view {
	position:absolute;right:5px;top:36px;z-index:6;
	border:1px solid yellow;background:#D7E8FF;
	width:320px;padding:0;font-size:0.8em;font-family: arial;
	overflow:auto;
}/*white-space:pre;*/
#debug_view h1 {font-size:1em;text-align:center;font-weight:bold;margin:0;max-height:300px;min-height:40px;overflow:auto;}
.debug_view_img {position:absolute;right:5px;top:4px;z-index:7;cursor:pointer;}





/*SUPER PUPER*/
	.path {padding:0 0 5px 0;text-align:left;}
	.path div {color:#111;}
	.path img {vertical-align:middle;height:18px;}
 /*MENU*/
div.menu_new {
	padding: 5px 0 0 0;margin: 0;
	height:1.6em;
	font-size:1.2em;
	vertical-align: middle;
}
div.menu_new .botton {
	background-color:#A1E177;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	margin:0 2px;
	padding:2px 3px 2px;
	border:1px solid #AAAAAA;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	vertical-align: top;
}
div.menu_new .botton:hover {
	border:1px solid #63A6CC;
}
div.menu_new .botton span {
	text-decoration:none;
	cursor:pointer;
}
div.menu_new .weptools {
	color:transparent;
	background-image:url(../img/buttonh.png);
	background-position:0 -284px;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	margin:0;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	font-size:0.6em;
}
	div.menu_new .weptools:hover, div.menu_new .weptools_sel {
		background-image:url(../img/button.png);
	}
	div.menu_new .wepfilter {
		background-position:0 -306px;
	}
	div.menu_new .wepchecktable {
		background-position:0 -262px;
	}
	div.menu_new .wepstats {
		background-position:0 -370px;
	}
	div.menu_new .wepconfig {
		background-position:0 -329px;
	}
	div.menu_new .reattaches {
		background-position:0 -284px;
	}
	div.menu_new .wepreindex {
		background-position:0 -215px;
	}
	div.menu_new .wepreinstall {
		background-position:0 -284px;
	}
	div.menu_new .wepSuperGroup {
		background-position:0 -350px;
	}
	span.wepSuperGroupCount {
		vertical-align:top;
		padding:0 3px;
	}

div.menu_new .tools_gact {
	color:transparent;
	background-image:url(../img/buttonh.png);
	background-position:0 -215px;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	margin:2px 0 1px;
	display:block;
}
	div.menu_new .tools_gact:hover, .tools_gact_sel {
		background-image:url(../img/button.png);
	}

div.menu_new fieldset{
	padding:0;
	width:550px;
	position:relative;
	z-index:5;
	left:10px;
	border:2px dotted;
	
}
#spirr_fieldset {
	padding:5px;
	background-color:#A1A1E1;
}
div.menu_new fieldset legend {
	background-image:url(../img/button.png);
	background-repeat:no-repeat;
	background-position:0 -95px;
	padding:0 0 0 18px;
	cursor:pointer;
}

/*LIST*/
.ulist {margin:0;}
.ulist li {margin-left:30px;}

/*TABLE*/
.superlist {
	border-bottom:1px dashed #ccc;border-left:1px solid #e0e0e0;
	font-size:1em;
	position:relative;
}
/*ODD*/
.superlist tr:nth-child(odd) td { 
	background:#D5E5B1;
}
.superlist td {padding:0;border-right:1px solid #e0e0e0;}
.superlist tr:hover td {background: none repeat scroll 0 0 #95A5C1;}
.superlist th {background:#d3d4d4; border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #e0e0e0;padding:0;white-space:nowrap;}
.superlist td img {border:1px solid #ccc;}
.superlist .ic{width:0;text-align:center;white-space:nowrap;font-size:1.1em;}
.superlist .ic a{margin:0 4px 0 0;}
.superlist td.b{padding:0;text-align:center;border-top:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;}
.superlist .clear {border-right:0;}
.superlist .clear1 {border-right:0;padding-right:0;}
.superlist tr td b {white-space:nowrap;}
.dis td {color:#A1A1A1;}

/* Постраничный просмотр */
.pagenumcnt {
	vertical-align: top;
	padding:0 0 0 10px;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
}

span.pagenum {
	font-size:1em;
}
select.pagenum {
	font-size:1em;
}
select.pagenum option[selected='selected']{
	font-weight: bold;
}

div.pagenum {
	height:27px;
	padding:5px 0 0;
	color: #4B4B4B;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
}
div.pagenum a {
	padding:0 5px;
}
div.pagenum b {
	padding:0 3px;
}

.mopselect {
	font-size:1em;
	background-color:transparent;
	border:solid 1px gray;
	margin:0 0 0 10px;
	vertical-align: top;
}
/* ----  SUPER PUPER*/

form table.form {
	width:85%;
	max-width:650px;
	width:expression(document.body.clientWidth > 650? "650px":"auto" );
}

/*FORM*/
	div.divform {
		min-width: 500px;
		max-width: 800px;
		width: auto;
	}
/*FILTER*/
	div.filter {
		font-size:1em;
		text-align:center;
		position:relative;
	}

	div.filter select {
		font-size:1em;
		width:170px;
	}

	div.filter select[id='rubric'] {
		border: 1px solid rgb(58, 170, 170);
	}

	div.filter input {
		font-size:1em;
		width:170px;
	}

	div.filter input[type='text'] {
		width:16em;
		font-size:1em;
		border:1px solid gray;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	}
	div.filter .f_int {
		padding:0;
	}
	div.filter .f_int input[type='text'] {
		width:4.5em;
	}

	div.filter input[type='text']:hover {
		border:1px solid green;
	}
	div.filter div.f_item {
		float:left;
		padding:0px 5px;
	}
	div.filter div.f_item div.f_caption {
		font-size:1em;
		padding:0;
		height:18px;
	}

	div.filter div.f_item div.f_value {
		height:20px;
	}
	div.filter div.f_item div.f_value div{
		display:inline;
	}

	div.filter div.f_submit{
		float:left;
		padding:19px 10px 2px;
		text-align:center;
	}
	div.filter div.f_submit input {
		border:1px solid #A6A6A6;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	}
	div.filter div.f_submit input[name='f_clear_sbmt'] {
		width:80px;
	}


/* для текстового  типа int поля */
	div.filter div.cll2_3
	{
	clear:left;
	float:left;
	}
		div.filter div.cll2_3 input
		{
		width:40px;
		text-align:center;
		}

/* фильтр */

div.ppagenum {
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	margin: 0 -10px;
}

/*tools_block*/
#tools_block {
	border:1px solid gray;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	background-color:#FFF;
	margin:10px auto;
	min-width:770px;
	display:block;
}
/*debug*/
span.seldebug {
	vertical-align:top;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	margin: 2px 3px 0 0;
}
span.seldebug select{
	font-size:0.9em;
	border:solid 1px gray;
}
/*MESSAGE*/
.messages {
	font-size:1em;
	text-align:center;
	background:#F6F6F6;
	padding:5px 20px;margin:3px 0 0;
	white-space:normal;
	border:1px solid #A6A6A6;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}

.messages .error, .error {
	font-weight: bold;
	margin: 0 0 3px 0;
	color:red;
}
.messages .ok, .ok {
	margin: 0 0 3px 0;
	color:green;
}
.messages .alert, .alert {
	margin: 0 0 3px 0;
	color:blue;
}
.err {
	font-weight: bold;
	margin: 0 0 3px 0;
	color:red;
}

.tools_item {
	font-weight:bold;
	color:blue;
}

.table {
	border:solid gray 1px;
}
.table td {
	border:solid gray 1px;
}