
/*product*/
	.prodlist {
		text-align:center;
	}
	.proditem {
		text-align:left;
		margin: 5px 3px;
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		vertical-align: top;
		width:48%;
		min-width:290px;
		height:200px;
		border:1px solid gray;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
		position:relative;
	}
	.prodpage .proditem {
		width:99%;
		height:auto;
	}
	.proditem .prodname {
		display:block;
		height:30px;
		overflow:hidden;
		white-space:nowrap;
		font-size:1.6em;
		padding:0 0 0 5px;
		font-weight:bold;
		border:1px solid #77aad2;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
		background-color:#77aad2;
		background: -moz-linear-gradient(top,#77aad2,#c2e4fd);
		background: -webkit-gradient(linear, left top, left bottom, from(#77aad2), to(#c2e4fd));
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#77aad2,endColorstr=#c2e4fd,GradientType=0); zoom: 1;
		background: linear-gradient(top,#77aad2,#c2e4fd);
	}
	.proditem .prodimg {
		float: left;
		width:100px;
		height:100px;
		padding:5px 15px 5px 5px;
	}
	.proditem .prodimg img{
		max-width:100px;
		max-height:100px;
	}


	.prodpage .prodimg-block {
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		margin:0 20px;
		float: left;
	}
	.prodpage .prodimg-block .prodimg-first {
		display:block;
		max-width:250px;
		max-height:250px;
		padding:5px;
	}
	.prodpage .prodimg-block .prodimg-first img {
		max-width:250px;
		max-height:250px;
		border:1px solid transparent;
	}
	.prodpage .prodimg-block .prodimg-first img:hover {
		border:1px solid gray;
	}

	.prodpage .prodimg-block .prodimg-over {
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		width:40px;
		height:40px;
		padding:5px;
		vertical-align: top;
	}
	.prodpage .prodimg-block .prodimg-over img{
		max-width:40px;
		max-height:40px;
		border:1px solid transparent;
	}
	.prodpage .prodimg-block .prodimg-over img:hover {
		border:1px solid gray;
	}
	.proditem .proddescr {
		font-size: 0.8em;
		vertical-align: top;
		padding:5px 0 0;
	}

	.prodpage .proditem .proddescr {
		margin:0 10px;
	}

	.proditem .prodcost {
		background:url('../img/price.png') no-repeat;
		font: bold 1.5em Tahoma, sans-serif;
		color:white;
		text-align: center;
		line-height: 38px;
		width: 107px;
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		padding: 0;
		margin: 0 0 0 10px;
		text-decoration:none;
	}

	.prodlist .proditem .prodcost {
		position:absolute;
		top:135px;
	}

	.prodpage .proditem .prodcost {
		margin: 0 0 0 30px;
	}

	.proditem .prodcost .cur {
		font-size:0.65em;
	}
	.proditem .prodcost .old {
		text-decoration:line-through;
		color:gray;
	}

	.prodpage .proditem .buybutton {
		font: bold 1.1em Tahoma, sans-serif;
		color:white;
		text-align: center;
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		position: relative;
		padding: 8px 10px;
		margin: 0 10px;
		cursor:pointer;
		width:auto;
		height:auto;

		background-color: #3BB3E0;
		background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
		background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );

		border: solid 1px #2AB7EC;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;

		-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 6px 5px #999;
		-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 6px 5px #999;
		-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 6px 5px #999;
		box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 6px 5px #999;
	}
		.prodpage .proditem .buybutton:hover {
			color:yellow;
		}
		.prodpage .proditem .buybutton:active {
			top: 1px;
			background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
			background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
			background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) );
			-webkit-box-shadow: inset 0px 0px 0px #2ab7ec, 0px 1px 0px 0px #156785, 0px 3px 3px #999;
			-moz-box-shadow: inset 0px 0px 0px #2ab7ec, 0px 1px 0px 0px #156785, 0px 3px 3px #999;
			-o-box-shadow: inset 0px 0px 0px #2ab7ec, 0px 1px 0px 0px #156785, 0px 3px 3px #999;
			box-shadow: inset 0px 0px 0px #2ab7ec, 0px 1px 0px 0px #156785, 0px 3px 3px #999;
		}
		.prodpage .proditem .buybutton a{
			text-decoration:none;
		}
		.prodpage .proditem .buybutton a:hover {
			color:yellow;
		}
		.prodpage .proditem .buybutton input{
			width:3em;
		}

		.prodpage .buybutton a.addlink,
		.prodpage .buybutton.sel a.dellink {
			display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		}

		.prodpage .buybutton a.dellink,
		.prodpage .buybutton.sel a.addlink {
			display:none;
		}

	.proditem .prodtext {
		margin:0 20px;
		clear: both;
	}

	.proditem .prodparam-h {
		margin: 10px 0 10px 30px;
	}

	.proditem .prodparam {
		margin: 10px 0 20px 30px;
	}

/*prodListTable*/

	.prodListTable {
		margin:0 auto;
		text-align:center;
	}

		.prodListTable table td {
			padding:2px;
		}

		.prodListTable table tr:hover td {
			background-color:#dce1e8;
		}

		.prodListTable table img {
			width:60px;
		}

		.prodListTable table td .prodlable {
			display:inline-block;
			width:15px;height:15px;
			background:transparent url(../../../_img/jquery.ui/ui-icons_2e83ff_256x240.png) no-repeat scroll -241px -97px;
		}

		.prodListTable table td .prodlable.sale {

		}

		.prodListTable table .addbasket {
			position:relative;
		}

		.prodListTable table .addbasket a.addlink {
			display:block;
		}

		.prodListTable table .addbasket a.dellink {
			display:none;
		}

		.prodListTable table .addbasket img {
			width:30px;
		}

		.prodListTable table .addbasket input {
			width:35px;
			position:absolute;
			display:none;
			top:15px;
			left:-31px;
		}

		.prodListTable table .addbasket:hover input {
			display:block;
		}

		/* Положенный в корзину */
		.prodListTable table tr.sel td {
			background-color:#e1e1e1;
		}
		.prodListTable table tr.sel .addbasket a.addlink {
			display:none;
		}
		.prodListTable table tr.sel .addbasket a.dellink {
			display:block;
		}
/*Over*/

	.fotocheckbox {
		position:absolute;
		top:40px;
		right:20px;
		font-size:0.75em;
		padding:0;
	}
	.fotocheckbox input{
		margin:0;
		padding:0;
		position:relative;
		top:2px;
	}


	.to-load-img {
		margin:0 5px;
	}

	.nomination {
		border-color:#E2E2E2;
		border-style:solid;
		border-width:1px;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
		padding:5px 10px;
		margin:5px;
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	}
	.nomination-name {
		font-weight:bold;
		font-size:1.0em;
	}
	.nomination-item {
		font-size:.9em;
		margin:0 5px;
		border-bottom:1px dashed #101796;
		color:#313131;
		display:inline;
	}
	.nomination-item:hover {
		border-bottom:none;
	}
	.navi1 {
		font-weight:bold;
		border-bottom:none;
	}
	.navi0 {
		cursor:pointer;
	}



/*BOARD PARAMETR TABLE*/
	.productparam{
		padding:5px 0;
	}

	.productparam .tdn{
		font-weight:bold;
		padding:0 10px 0 0;
	}

	.productparam .tdt{
	}

	.imagebox {
		display:block;
		float:right;
	}

	.imagebox img {
		border:1px solid #A6A6A6;
		margin:0 0 0 5px;
		width:60px;
	}

/*FILTER*/

	.searchslide {
		color:#709AD1;
		cursor:pointer;
		text-decoration:none;
		display:inline;
		margin:0 auto;
	}
	.searchslide:before {
		content:'+ ';
	}
	.searchslide:hover {
		text-decoration:none;
	}
	.shhide:before {
		content:'- ';
	}

/*FILTER*/
	form.filter {
		font-size: 1em;
		text-align:center;
		position:relative;
	}

	form.filter .f_value select {
		font-size:1em;
		width:170px;
	}

	form.filter .f_value select[id='rubric'] {
		border: 1px solid rgb(58, 170, 170);
	}

	form.filter .f_value input {
		font-size:1em;
		width:170px;
	}
	form.filter .f_value input[type="radio"] {
		width:1em;
	}
	form.filter .f_value input[type="checkbox"] {
		width:1em;
	}

	form.filter .f_value input[type='text'] {
		width:14em;
		font-size:1em;
		border: 1px solid gray;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
	}
	form.filter .f_int {
		padding: 0;
	}
	form.filter .f_int input[type='text'] {
		width: 4.5em;
	}

	form.filter .f_value  input[type='text']:hover {
		border: 1px solid green;
	}

	/*SLIDER*/
	form.filter .ui-slider {
		font-size: 0.5em;
		margin: 4px 5px 5px;
	}
	form.filter .ui-slider-horizontal .ui-slider-handle {
		top: -.63em;
		width: 1.6em;
		height: 1.6em;
	}
	/*****/

	form.filter div.f_item {
		float: left;
		padding: 0px 5px;
		margin: 0 10px 5px;
		height: 3.5em;
		width: 15em;
	}
	form.filter div.f_item div.f_caption {
		font-size: 1em;
		padding: 0 0 2px;
	}

	form.filter div.f_item div.f_value {
		height: 20px;
	}
	form.filter div.f_item div.f_value div {
		display: inline;
	}

	/*linklist*/
	form.filter div.f_item.linklist {
		height: auto;
		float: none;
		margin: 0 auto;
		width: auto;
	}
	form.filter div.f_item.linklist div.f_value {
		height:auto;
	}
	form.filter div.f_item.linklist div.f_value div {
		display: block;
		font-size: 1.3em;
		margin: 3px 0;
	}

	form.filter div.f_submit{
		float: left;
		padding: 0px 5px;
		margin: 0 10px 5px;
		height: 3.5em;
		width: 15em;
	}
	form.filter div.f_submit input {
		font-weight: bold;
		cursor: pointer;
		margin-top: 0.4em;
		padding: 2px 18px;
		border: 1px solid gray;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
		background-color: #e1e1e1;
		background-image: linear-gradient(bottom, gray 0%, #e1e1e1 100%);
		background-image: -o-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
		background-image: -moz-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
		background-image: -webkit-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
		background-image: -ms-linear-gradient(bottom, gray 0%, #e1e1e1 100%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, gray), color-stop(1, #e1e1e1) );
		-webkit-box-shadow: inset 0px 1px 0px #e1e1e1, 0px 2px 0px 0px #444, 0px 4px 3px gray;
		-moz-box-shadow: inset 0px 1px 0px #e1e1e1, 0px 2px 0px 0px #444, 0px 4px 3px gray;
		-o-box-shadow: inset 0px 1px 0px #e1e1e1, 0px 2px 0px 0px #444, 0px 4px 3px gray;
		box-shadow: inset 0px 1px 0px #e1e1e1, 0px 2px 0px 0px #444, 0px 4px 3px gray;
	}
	form.filter div.f_submit input:active {
		top: 1px;
		background-image: linear-gradient(bottom, gray 0%, #999 100%);
		background-image: -o-linear-gradient(bottom, gray 0%, #999 100%);
		background-image: -moz-linear-gradient(bottom, gray 0%, #999 100%);
		background-image: -webkit-linear-gradient(bottom, gray 0%, #999 100%);
		background-image: -ms-linear-gradient(bottom, gray 0%, #999 100%);
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, gray), color-stop(1, #999) );
		-webkit-box-shadow: inset 0px 0px 0px gray, 0px 1px 0px 0px #e1e1e1, 0px 1px 1px gray;
		-moz-box-shadow: inset 0px 0px 0px gray, 0px 1px 0px 0px #e1e1e1, 0px 1px 1px gray;
		-o-box-shadow: inset 0px 0px 0px gray, 0px 1px 0px 0px #e1e1e1, 0px 1px 1px gray;
		box-shadow: inset 0px 0px 0px gray, 0px 1px 0px 0px #e1e1e1, 0px 1px 1px gray;
	}
	form.filter div.f_submit input[name='f_clear_sbmt'] {
		width:80px;
	}


/* для текстового  типа int поля */
	form.filter div.cll2_3
	{
	clear:left;
	float:left;
	}
		form.filter div.cll2_3 input
		{
		width: 40px;
		text-align: center;
		}

/* фильтр */
