
/*leftblock*/
.shop-menu {
	font-family: arial, sans-serif; 
	width:242px; height:auto; 
	position:relative; margin:0; 
	font-size:11px; margin:0;
	z-index:20;
}
.shop-menu ul {
	padding:0; margin:0;
	list-style-type: none;
}

.shop-menu ul li a {
	text-decoration:none; color:#779A5D; font-size:15px;font-weight: bold;
	width:230px; height:59px;
	vertical-align: middle;text-align:left; 
	display:table-cell;
	padding:0 5px;
}
.shop-menu a.selected {
	font-weight:bold;
	color:#E85302;
}
.shop-menu ul img{
	width:60px;
	height:60px;
	float:left;
}
.shop-menu ul li {
	border-bottom: solid 1px #E1E1E1;margin:0; position:relative;z-index:21;
}
.shop-menu ul li ul {display: none;}

/* for IE browsers */
.shop-menu ul li:hover, .shop-menu ul li:hover li {
	color:#fff;
	background: linear-gradient(top,#b2dae4,#7bbfd0,#b2dae4);
	background: -webkit-gradient(linear, left top, left bottom, from(#b2dae4), color-stop(0.5, #7bbfd0), to(#b2dae4));
	background: -webkit-linear-gradient(top, #b2dae4,#7bbfd0,#b2dae4);
	background: -moz-linear-gradient(top,#b2dae4,#7bbfd0,#b2dae4);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#b2dae4,endColorstr=#7bbfd0,GradientType=0); zoom: 1;
}
.shop-menu ul li:hover ul {display:block; position:absolute;z-index:22; top:0; left:242px; width:240px;}
.shop-menu ul li:hover ul li a {height:32px;color:#000;border-color:#e1e1e1;}
.shop-menu ul li:hover ul li a.hide {color:#000;}
.shop-menu ul li:hover ul li a:hover {color:#fff;}

.shop-menu ul li:hover ul li ul {display: none;}
.shop-menu ul li:hover ul li:hover>a {color:#fff;}
.shop-menu ul li:hover ul li:hover ul {display:block; position:absolute;z-index:23; left:240px; top:0; color:#000;}
.shop-menu ul li:hover ul li:hover ul li a {}
.shop-menu ul li:hover ul li:hover a.hide {width:240px;}
.shop-menu ul li:hover ul li:hover ul li a:hover {color:#fff;}
