body , html {
	background-color:#FFF;
	font-family:Calibri,Arial;
	font-size:100%;
	height:100%;
	min-width:800px;
	max-width:1264px;
	margin:0 auto;
	padding:0;
}
img {border:none;}
a {color:black;}
p {padding:0;margin:0;}
.clear{clear:both;padding:0;margin:20px 0 0;width:0;height:0;font-size:0;}
div.noscript {
	font-size:0.9em;
	text-align:justify;
	background-color:#FFFF00;
	padding:5px 20px;margin:3px 0 0;
	white-space:normal;
	border:1px solid #A6A6A6;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}
a:hover {
	text-decoration:none;
	color:#709ad1;
}
.jshref {
	font-size:11px;
	color:#101796;
	border-bottom:1px dashed #CCCCCC;
	cursor:pointer;
}
.jshref:hover {border-bottom:1px dashed transparent;}
.sdsd{display:none;}/*скрывать*/


	.header{
		margin:0 10px;
	}

	.center {
		margin:0 10px;
	}

	.footer {
		text-align:center;
		vertical-align:top;
		margin:0 10px;
		min-height:30px;
		border:solid 1px #E2E2E2;
		border-bottom:none;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
		background-color:#e1e1e1;
		background: -moz-linear-gradient(bottom,#FFFFFF,#e1e1e1);
		background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#e1e1e1));
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#FFFFFF,endColorstr=#e1e1e1,GradientType=0); zoom: 1;
		background: linear-gradient(bottom,#FFFFFF,#e1e1e1);
	}


/*header*/
	.header .menu {
		text-align:center;
		background-color:#e1e1e1;
		padding:7px 0;
		border:solid 1px #E2E2E2;
		border-top:none;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
		background-color:#e1e1e1;
		background: -moz-linear-gradient(top,#FFFFFF,#e1e1e1);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#e1e1e1));
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#FFFFFF,endColorstr=#e1e1e1,GradientType=0); zoom: 1;
		background: linear-gradient(top,#FFFFFF,#e1e1e1);
	}
	.header .menu a {
		font-weight:bold;
		margin:0 10px;
		color:#779A5D;
	}
	.header .menu .selected {
		color:#E85302;
	}

/*footer*/
	
	.copyright{
		font-size:0.7em;
		font-weight:bold;
		display:inline-block;
	}
	.copyright a{
		color:black;
		padding:0 5px;
	}

/*leftblock*/
	.leftblock {
		background-color:white;
		margin:5px 0;
		border-color:#E2E2E2;
		border-style:solid;
		border-width:1px;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	}

/*path*/
	.path {
		margin:5px 0 5px 10px;
		text-align:left;
		font-size:1.1em;
		padding:0;
	}
	.path h1{
		font-size:1em;
		margin:0;
		padding:0;
		font-weight:normal;
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	}
	.path a {
		font-size:1em;
	}

/*maintext*/

	.center .text {
		min-height:400px;
		border-color:#E2E2E2;
		border-style:solid;
		border-width:1px;
		height:100%;
		padding:10px;
		margin:0;
		-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	}

/*pagenum*/
	div.pagenum {
		padding:7px 0 10px 10px;
		font-size:0.75em;
	}
	div.pagenum a{
		padding:0 3px 0 3px;
		font-size:0.99em;
	}

	
	/*ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ ДЛЯ ФОРМЫ ОбъЯВЛЕНИЯ*/
	.showparam {
		cursor:pointer;
		border-bottom:1px dashed #101796;
		font-size:12px;
		color:#000;
		display:inline;
		padding:0 0 0 11px;
		background:transparent url(../img/x16.png)  no-repeat scroll 0 -17px;
	}
	.hideparam {
		background:transparent url(../img/x16.png)  no-repeat scroll 0 -49px;
	}
	.showparam:hover {
		border-bottom:1px dashed transparent;
	}

	.formparam {
		background-color: rgb(237, 237, 237); 
		width: 60%; 
		margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;
	}

/*AJAX BG*/
	.ajaxlink {
		border-bottom:1px dashed #101796;
		text-decoration:none;
	}
	.ajaxlink:hover {
		border-bottom:1px dashed transparent;
		text-decoration:none;
	}
	#ajaxload {
		z-index:30;
		position:fixed;
		top:50%;
		left:50%;
		display:none;}

	.layerloader {
		white-space:nowrap;
		color:#F1F1F1;
		font-weight:bold;
		text-align:center;
	}

	.layerblock{
		padding:5px 17px 10px;
		background-color:white;
		overflow:auto;
		max-height:90%;
		border:2px solid gray;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;
	}

	#ajaxload .block-tl, #ajaxload .block-tr, #ajaxload .block-bl, #ajaxload .block-br {
		background-image:none;
	}

	#ajaxload div.layerloader img {}

		#ajaxload .messages{
			border:none;
			background:none;
			padding:10px;
		}

	#ajaxbg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #666;
		display: none;
		z-index: 20;
	}
	* html #ajaxbg {
		position: absolute;
		height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}
	/*CLOSE LAYER*/
	.blockclose {
		cursor:pointer;
		position:absolute;
		right:2px;
		top:2px;
		height:30px;
		width:30px;
		background: url("../../_img/jquery.fancybox/fancy_close.png") repeat scroll 0 0 transparent;
		z-index:40;
	}

.ui-slider {
	margin:3px 5px 5px;
}


/*Всплывающая информация showHelp(obj,mess,time,nomiga)*/
.helpmess {
	position:absolute;
	border:2px solid #555;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
	border-width:2px !important;
	background-color:#222;
	z-index:10;
	padding:2px 3px;
	font-size:0.9em;
	color:#FFF;
}
.trgl {
	border:1px solid #555;
	margin:0;
	background:none repeat scroll 0 0 transparent;
	position:absolute;
	height:0;
	width:0;
	right:auto;
}
.trgl_d {
	bottom:-14px;
	left:5px;
	border-left:0 none;
	border-right:15px dotted transparent;
	border-top-width:12px;
	border-bottom-width:0;
}
.trgl_u {
	top:-14px;
	left:5px;
	border-left:0 none;
	border-right:15px dotted transparent;
	border-top-width:0;
	border-bottom-width:12px;
}

/*LOGIN FORM*/
div.layerblock {

}
div.layerblock div.cform {
    padding:10px;
	float: right;
    width: 200px;
}

div.layerblock div.cform form div {
	font-size:11px;text-align:left;
}
div.layerblock div.cform input {
		width:130px;
		margin:0 0 2px 0;
		text-align:center;
		border:2px #63A6CC solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}
div.layerblock div.cform .submit {
	margin:7px auto 0 auto;
	width:100px;
	text-align:center;
}
div.layerblock .messhead {
	font-size:19px;
	color:#228B22;
	font-weight:bold;
}
div.layerblock .messelem {font-weight:bold;font-size:15px;text-align:center;color:gray;}
div.layerblock .messelem a {
	font-size:14px;
}
