/*Animation*/

.cloudbg {
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
	left:0;
	z-index:1;
	-webkit-animation-name: movement1;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: movement1;
	-moz-animation-duration: 150s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	animation-name: movement1;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
div.cloud1 {
	background: transparent url(../img/cloud1.png) no-repeat -350px 0px;
}

@-webkit-keyframes movement1 {
    from {background-position: -350px 0px;}
    to {background-position: 1500px 0px;}	
}
@-moz-keyframes movement1 {
    from {background-position: -350px 0px;}
    to {background-position: 1500px 0px;}	
}
@keyframes movement1 {
    from {background-position: -350px 0px; }
    to {background-position: 1500px 0px; }	
}

div.cloud2 {
	z-index:2;
	background: transparent url(../img/cloud2.png) no-repeat -150px 20px;
	-webkit-animation-name: movement2;
	-webkit-animation-duration: 90s;
	-webkit-animation-delay:10s;
	-moz-animation-name: movement2;
	-moz-animation-duration: 90s;
	-moz-animation-delay:10s;
	animation-name: movement2;
	animation-duration: 90s;
	animation-delay:10s;
}
@-webkit-keyframes movement2 {
    from {background-position: -150px 20px;}
    to {background-position: 1500px 20px;}	
}
@-moz-keyframes movement2 {
    from {background-position: -150px 20px;}
    to {background-position: 1500px 20px;}	
}
@keyframes movement2 {
    from {background-position: -150px 20px; }
    to {background-position: 1500px 20px; }	
}

div.cloud3 {
	z-index:3;
	background: transparent url(../img/cloud3.png) no-repeat -300px 0px;
	-webkit-animation-name: movement3;
	-webkit-animation-duration: 140s;
	-webkit-animation-delay:45s;
	-moz-animation-name: movement2;
	-moz-animation-duration: 140s;
	-moz-animation-delay:45s;
	animation-name: movement2;
	animation-duration: 140s;
	animation-delay:45s;
}
@-webkit-keyframes movement3 {
    from {background-position: -300px 0px;}
    to {background-position: 1500px 0px;}	
}
@-moz-keyframes movement3 {
    from {background-position: -300px 0px;}
    to {background-position: 1500px 0px;}	
}
@keyframes movement3 {
    from {background-position: -300px 0px; }
    to {background-position: 1500px 0px; }	
}

div.cloud4 {
	z-index:4;
	background: transparent url(../img/cloud4.png) no-repeat -500px 40px;
	-webkit-animation-name: movement4;
	-webkit-animation-duration: 180s;
	-webkit-animation-delay:90s;
	-moz-animation-name: movement4;
	-moz-animation-duration: 180s;
	-moz-animation-delay:90s;
	animation-name: movement2;
	animation-duration: 180s;
	animation-delay:90s;
}
@-webkit-keyframes movement4 {
    from {background-position: -500px 40px;}
    to {background-position: 1500px 40px;}	
}
@-moz-keyframes movement4 {
    from {background-position: -500px 40px;}
    to {background-position: 1500px 40px;}	
}
@keyframes movement4 {
    from {background-position: -500px 40px; }
    to {background-position: 1500px 40px; }	
}
/************/

.code {
	padding: 5px 15px 5px 15px; 
	margin: 0px 0px 10px 0px; 
	border: 1px solid rgb(220, 230, 240);
	background: url(/_design/default/img/code.gif) rgb(248, 248, 248);
	color: blue;
}