/*payselect*/
.payselect {
	margin:0;padding:0;
	text-align: center;
}
.payselect h2 {
	text-align: center;
}
.payselect .paymethod input {
	vertical-align:top;
	text-align: center;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	font-size:14px;
	height:50px;
	width:100px;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	border:1px #e1e1e1 solid;
	background: url(payuser.png) no-repeat scroll 50% 0 transparent;
	margin:5px;
	padding:5px;
	vertical-align:bottom;
	text-align: center;
	color: transparent;
	cursor:pointer;
}
.payselect .paymethod input:hover {
	border:1px gray solid;
}
.payselect .paymethod .pay-users {
}
.payselect .paymethod .pay-payqiwi {
	background-image: url(qiwi/logo.png);
}
.payselect .paymethod .pay-payyandex {
	background-image: url(yandex/logo.png);
}
.payselect div.divform {
	width: auto;
}


/*pay_list*/
.pay_list td, .pay_list th {
	border-bottom:1px solid gray;
	border-right:1px solid gray;
}
.pay_list th {
	background-color:#e1e1e1;
}
.pay_list td {
	min-width:80px;
}
.pay_list tr td:first-child {
	min-width:10px;
}
.pay_list tr td:nth-child(3) {
	min-width:60px;
}
.pay_list tr.paylist0 {

}
.pay_list tr.paylist1 {
	color:green;
}
.pay_list tr.paylist2 {
	color:gray;
}
.pay_list tr.paylist3 {
	color:#e1e1e1;
}