/*payselect*/
.payselect {
}
.payselect li {
	vertical-align:top;
	text-align: center;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
}
.payselect li a {
	font-size:14px;
	height:30px;
	width:130px;
	display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
	border:1px transparent solid;
	background: url(payuser.png) no-repeat scroll 50% 0 transparent;
	margin:0;
	padding:50px 5px 5px 5px;
	vertical-align:bottom;
	text-align: center;
}
.payselect li a:hover {
	border:1px gray solid;
}
.payselect li.pay-users a {
}
.payselect li.pay-payqiwi a {
	background-image: url(qiwi/logo.png);
}
.payselect li.pay-payqiwi a {
	background-image: url(qiwi/logo.png);
}